.nyheder-container {
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    justify-content: flex-start; /* Align items to the start */
    margin: 5%;
    padding: 5%;
    gap: 30px;
    width: max-content; /* Ensure the container's width adjusts to its content */
}

.midtersektion {
    height: auto; /* Allow height to adjust automatically */
    width: 100%; /* Set the width of the container */
    overflow-y: visible; /* Allow vertical scrolling */
    padding: 10px; /* Optional: Add padding for spacing */
    white-space: normal; /* Allow content to wrap to the next line */
}

.samarbejdspartnere {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 2;
background-color: rgb(0, 0, 0, 0.5);

}

.samarbejdspartnere h1{
    margin: 5%;
    z-index: 50;
    position: relative;
    justify-content: center;
    font-family: "montserrat", sans-serif;
}
    

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 5%;
    z-index: 50;
}
.logos img{
    width: 20%;
    height: auto;
    object-fit: contain;
    z-index: 50;
}