.nyheder-container {
    display: flex;
    flex-direction: row; /* Ensure items are laid out in a row */
    justify-content: flex-start; /* Align items to the start */
    margin: 5%;
    padding: 5%;
    gap: 30px;
    width: max-content; /* Ensure the container's width adjusts to its content */
}

.midtersektion {
    height: auto; /* Allow height to adjust automatically */
    width: 100%; /* Set the width of the container */
    overflow-y: visible; /* Allow vertical scrolling */
    border: 3px solid #060606; /* Optional: Add a border for better visibility */
    padding: 10px; /* Optional: Add padding for spacing */
    white-space: normal; /* Allow content to wrap to the next line */
}

.samarbejdspartnere {
width: 100%;
background: url(imgvid/samarbejdspartnere.png) 


}
